@model Bookshop.Models.Store

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="table table-hover table-condensed">
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
