@model IEnumerable<Bookshop.Models.Store>
@using Bookshop.Ultility
@using Bookshop.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@addTagHelper *, AddCurrencyTagHelper


@{
    ViewData["Title"] = "Magazyn";
}

@Html.Partial("_SecurityPartial")

@if (SignInManager.IsSignedIn(User))
{

    <h2>Magazyn książek</h2>
    <div class="form-border">
        <p>
            @if (User.IsInRole(StaticDetails.AdminUser))
            {
                <a class="btn btn-sm btn-primary" asp-action="Create">Utwórz</a>
            }
        </p>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Book)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Book.name)
                            
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Publisher.name)
                        </td>
                        @if (User.IsInRole(StaticDetails.AdminUser))
                        {
                            <td>
                                @Html.DisplayFor(m => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.price)
                            </td>
                        }

                        <td>
                            @if (User.IsInRole(StaticDetails.AdminUser))
                            {
                                <a asp-action="Edit" asp-route-id="@item.id" id="edit_store" class="btn btn-primary btn-sm">Edytuj</a>
                                <a asp-action="Delete" asp-route-id="@item.id" id="remove_store" class="btn btn-danger btn-sm">Usuń</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.id" id="details_store" class="btn btn-info btn-sm">Szczegóły</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
